.main-section {

    width: 70%;
    margin: 50px auto;

}

.main-section .title {

    color: #484848;
    font-size: 250%;
    text-align: center;

}

.main-section .object-list .no-objects-title {

    margin-top: 40px;
    margin-bottom: 10px;
    color: #808080;
    font-size: 180%;
    text-align: center;

}

.main-section .object-list .object-container {

    width: 70%;
    margin: 30px auto;
    border: 2px solid silver;
    padding: 10px;
    border-radius: 15px;

}

.main-section .object-list .object-container .object {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.main-section .object-list .object-container .object .object-image {

    width: 96px;
    height: 96px;

}

.main-section .object-list .object-container .object .object-info p {
    font-size: 120%;
}

.main-section .object-list .object-container .object .object-file-upload {

    display: flex;
    flex-direction: column;

}

.main-section .object-list .object-container .object .delete-button {

    margin-top: 40px;
    border: 2px solid #a03030;
    padding: 5px;
    background: #f08080;
    border-radius: 10px;

}

.main-section .object-list .object-container .skill-list {

    margin: 15px;
    display: flex;
    gap: 20px;

}

.main-section .object-list .object-container .skill-list .skill {

    padding: 5px;
    border-radius: 8px;
    background: #a0a0a0;
    color: #ffffff;

}

.main-section .form-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.main-section .form-container .object-form {

    width: 30%;
    margin: 50px auto;
    border: 2px dashed silver;
    padding: 15px;
    border-radius: 15px;
    font-size: 130%;

}

.main-section .form-container .object-form h2 {

    margin-top: 10px;
    margin-bottom: 30px;
    color: #484840;
    text-align: center;

}

.main-section .form-container .object-form .form-group {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;

}

.main-section .form-container .object-form button {

    display: block;
    margin: 20px auto;

}

.main-section .uml-diagram-link {

    display: block;
    margin: 50px;
    text-align: center;
    font-size: 150%;
    color: #3030f0;

}

.main-section .object-list .object-container .delete-button:hover,
.main-section .form-container .object-form button:hover,
.main-section .uml-diagram-link:hover {
    cursor: pointer;
}
